
article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 15px;
    gap: 10px;
    border: 2px solid rgb(128, 177, 128);
}

h4 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: black;
    background-color: rgb(128, 177, 128);
    padding: 0px;
}

p {
    width: 100%;
    text-align: center;
}

#capital {
    width: 30%;
    
}

#continente {
    width: 30%;
    
}

#superficie {
    width: 30%;
}


img {
    display: block;
    width: 100%;
    height: auto;   
}

div {
    margin: 10px auto 40px auto;
}

a {
    margin-bottom: 20px;
}