
<div class="formulario">

    <form [formGroup]="formulario" (ngSubmit)="envioFor()">

        <div class="elemento">
            <label class="form-label">Título del Post</label>
            <input type="text" formControlName="titulo" class="form-control">
        </div>
    
        <div class="elemento">
            <label >Contenido</label>
            <angular-editor [(ngModel)]="htmlContent" [config]="config" formControlName="texto"></angular-editor>
        </div>
    
        <!-- <div class="elemento">
            <label >Autor</label>
            <input type="text" formControlName="autor" class="form-control">            
        </div> -->
    
        <div class="elemento">
            <label >Indica la dirección de la foto que quieras mostrar</label>
            <input type="text" formControlName="imagen" class="form-control">
        </div>
    
        <!-- <div class="elemento">
            <label >Fecha</label>
            <input type="date" formControlName="fecha" class="form-control">
        </div> -->
    
        <div class="elemento">
            <label >Categoria</label>
            <input type="text" formControlName="categoria" class="form-control">
        </div>
    
        <div class="elemento">
            <input type="submit" class="btn">
        </div>
    
    </form>

</div>





    <!-- <h3>Editor</h3>
     <input type="text" formControlName="texto"> -->
    <!-- <input type="text" formControlName="autor"> 
    <div [innerHTML]="htmlContent">
        {{htmlContent}}
    </div>-->

