section {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
}

div.lista {
    width: 50%;
    padding: 20px;
}

div.opciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    padding: 25px;
    gap: 30px;
}

h3 {
    width: 100%;
    text-align: center;
}

select {
    font-size: 30px;       
}