
<article>
    <h3>{{postMostrar.titulo}}</h3>
    <app-texto [textoMostrar]="postMostrar.texto" [leerMasTexto]="leerMas"></app-texto>

    <button *ngIf="!leerMas" class="btn" (click)="viewMore()">... leer mas</button>
    <button *ngIf="leerMas" class="btn" (click)="viewMore()">... atrás</button>

    <p id="autorFecha">Autor: {{postMostrar.autor}} Fecha: {{postMostrar.fecha | date:'dd/MM/yyyy HH:mm:ss'}}</p>
    <img [src]="postMostrar.imagen">
    
    <p>Categoría: {{postMostrar.categoria}}</p>
</article>


