
<article>
    <h3>{{postMostrar.titulo}}</h3>
    <app-texto [textoMostrar]="postMostrar.texto" [leerMasTexto]="leerMas"></app-texto>

    <button *ngIf="!leerMas" class="btn" (click)="viewMore()">... leer mas</button>
    <button *ngIf="leerMas" class="btn" (click)="viewMore()">... menos</button>

    <p class="autorFecha">Autor: {{postMostrar.autor}} </p>
    <!-- <p class="autorFecha">Fecha: {{postMostrar.fecha | date:'dd/MM/yyyy HH:mm:ss'}}</p> -->
    <p class="autorFecha">Fecha: {{postMostrar.fecha | date:'medium'}}</p>

    <img [src]="postMostrar.imagen">
    
    <p>Categoría: {{postMostrar.categoria}}</p>
</article>


