
article {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid darkgreen;
    border-radius: 10px;
    padding: 30px;
    justify-content: center;
    gap: 25px;
}

h3 {
    width: 100%;
    text-align: center;
}

p {
    width: 100%;
    text-align: justify;    
}

img {
    display: block;
    width: 100%;
    height: auto;
}

#autorFecha {
    justify-content: flex-end;
    background-color:beige;
}

button {
    color: blue;
    font-size: 25px;
    font-weight: bold;
    padding-top: 0;
    margin-top: -20px;
}