

section{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 50px auto;
    justify-content: center;
}

div {
    width: calc(50% - 25px)
}

h3 {
    width: 80%;
    text-align: justify;
    
    margin: 70px auto;
}