
<section>

    <h3>Introduce usuario y contraseña</h3>

    <form [formGroup]="login" (submit)="envioLogin()">

        
        <div>
            <label class="form-label">USUARIO</label>
            <input type="text" formControlName="userName" class="form-control">
        </div>

        <div>
            <label class="form-label">CONTRASEÑA</label>
            <input type="password" formControlName="password" class="form-control">
        </div>

        <div>
            <input type="submit" class="btn btn-dark envio" >
        </div>

    </form>

    <p *ngIf="errorLogin">Email o Contraseña incorrectos</p>

</section>


<!-- <p>{{login | json}}</p> -->
