
<nav>

    <h1>MyBlog</h1>

    <ul>
        <li [routerLink]="['posts']">Posts</li>
        <li *ngIf="loginService.isLoged()" [routerLink]="['/blog', 'new']">New</li>
        <li *ngIf="loginService.isLoged()" [routerLink]="['divisas']">Divisas</li>
        <li *ngIf="loginService.isLoged()" [routerLink]="['paises']">Paises</li>
        <li [routerLink]="['registro']">Regístrate</li>
        <li [routerLink]="['login']">Login</li>
        <li *ngIf="loginService.isLoged()" [routerLink]="['salir']">Salir</li>
    </ul>

</nav>
